<div class="reg-form-container">
    <div class="row">
        <div class="col-md-4">
        	<div class="pad-around">
        		<h4>Events</h4>
        	</div>
            <div class="list-group">
            	<tr ng-repeat="registration in registrations">
            	<a href="#" class="list-group-item " ng-class="{'active': {{$index}}==0}" ng-repeat="event in events" id="{{event._id}}" ng-click="listOnClickHandler(event);">{{event.name}}</a>
                
		</div>
    </div>
    <div class="col-md-8 ">
    	<div class="pad-around">
    		<h4>Register for - {{activeEventname}}</h4>
    	</div>
    	<form id="registration-form " ng-submit="submit()">
			<div class="form-group row ">
			    <label for="fullname " class="col-md-3 col-form-label ">Full Name</label>
			    <div class="col-md-9 ">
			        <input class="form-control " type="text " value=" " id="fullname " placeholder="First Last" ng-model="fullname">
			    </div>
			</div>
			<div class="form-group row ">
			    <label for="mobile " class="col-md-3 col-form-label ">Mobile</label>
			    <div class="col-md-9 ">
			        <input class="form-control " type="number " value=" " id="mobile" placeholder="10-digit number" ng-model="mobile">
			    </div>
			</div>
			<div class="form-group row ">
			    <label for="email " class="col-md-3 col-form-label ">Email</label>
			    <div class="col-md-9 ">
			        <input class="form-control " type="email " value=" " id="email " placeholder="example@email.com" ng-model="email">
			    </div>
			</div>
			<div class="form-group row ">
			    <label for="img " class="col-md-3 col-form-label ">Upload Id Card</label>
			    <div class="col-md-9 ">
			        <input class="form-control " type="text " value=" " id="img " placeholder="not yet implemented - leave blank :(" ng-model="img">
			    </div>
			</div>
			<div class="form-group row ">
			    <label for="selectedtype " class="col-md-3 col-form-label ">Registration Type</label>
			    <div class="col-md-9 ">
			    	<select class="custom-select col-md-12" ng-options="registrationtype as registrationtype.label for registrationtype in registrationtypes track by registrationtype.id" ng-model="selectedtype" ng-init="selectedtype = registrationtypes[0]"></select>
			    </div>
			</div>
			<div class="form-group row ">
			    <label for="ticketcount " class="col-md-3 col-form-label ">No. of tickets</label>
			    <div class="col-md-2 ">
			        <input class="form-control " type="number" value="1" id="ticketscount " placeholder="1" ng-model="ticketcount" ng-init="ticketcount=1">
			    </div>
			</div>

		  <button type="submit " class="btn btn-primary ">Submit</button>
		</form>

		<div id="reg-alert" class="alert alert-success" role="alert" ng-if="showRegistrationSuccess">
		    <strong>Well done!</strong> Registration successful. Please note your reg id - {{regid}}.
		</div>
    </div>
  </div>
</div>
