/*body { padding-top:30px; }*/

.table td,
.table th {
    text-align: center;
}

.reg-form-container {
    /*border-width: .2rem;*/
}

.container {
    padding: 1.5rem;
    /*margin-right: 0;*/
    /*margin-bottom: 0;*/
    /*margin-left: 0;*/
    border-width: .2rem;
}

.nav {
    /*padding-bottom: 1.5rem;*/
}

.nav nav-tabs {
    border-bottom: 1px solid #ddd;
}

.reg-form-container,
.admin-container {
    padding-top: 1.5rem;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-right {
    float: right;
    margin: 0 auto;
}

#reg-alert {
    margin-top: 1.5rem;
}

.pad-around {
    padding: 1rem;
}

#chart-container {
    min-width: 310px;
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
